Prueba de stream/bin/Debug/Prueba de stream.vshost.exe.manifest
.vs/Prueba de stream/v14/.suo
Prueba de stream/obj/Debug/Prueba de stream_MarkupCompile.i.
Prueba de stream/obj/Debug/Prueba de stream_MarkupCompile.cache
Prueba de stream/obj/Debug/Prueba de stream.g.resources
Prueba de stream/obj/Debug/Prueba de stream.exe
Prueba de stream/obj/Debug/MainWindow.g.i.cs
Prueba de stream/obj/Debug/MainWindow.g.cs
Prueba de stream/obj/Debug/Prueba de stream.pdb
Prueba de stream/obj/Debug/MainWindow.baml
Prueba de stream/obj/Debug/Prueba de stream_MarkupCompile.i.cache
